---
import { Locales, TranslationKeys } from "@domain/data/Translations";
import { useI18nStatic } from "../../shared/utils/i18nTranslate";
import SystemManagerLayout from "../../shared/layouts/SystemManagerLayout.astro";
import Icons from "@domain/data/Icons";
import Container from "../../../Container";
import SeoConstants from "../../shared/constants/SeoConstants";
import PowerPageOGImage from "../_assets/images/power-page-og-image.webp";

const i18n = Container.instance.i18n;
const translate = useI18nStatic(Astro.url);
const currentLocale = i18n.getLocaleFromUrl(Astro.url, Locales.en);

const title = `${translate(TranslationKeys.system_shutting_down)} | ${SeoConstants.DEFAULT_TITLE}`;
const description = translate(TranslationKeys.system_shutting_down_desc);
const ogImageAlt = translate(TranslationKeys.system_shutting_down);
const structuredData = {
  "@context": "https://schema.org",
  "@type": "WebPage",
  name: title,
  description: description,
  url: Astro.url.href,
  image: PowerPageOGImage.src,
};
---

<SystemManagerLayout
  metadata={{
    title,
    description,
    locale: currentLocale,
    ogImage: {
      image: PowerPageOGImage,
      alt: ogImageAlt,
    },
    structuredData,
  }}
  subtitle={translate(TranslationKeys.system_shutting_down)}
  titleIcon={Icons.spinner}
  titleIconSpin={true}
>
  <script>
    const TYPING_DELAY = 50;
    const INITIAL_DELAY = 500;
    const NAVIGATION_DELAY = 1000;

    const logsElement = document.getElementById("logs")!;

    const shutdownMessages = [
      "Stopped target Graphical Interface.",
      "Stopped target Multi-User System.",
      "Stopped target Login Prompts.",
      "Stopped target Timers.",
      "Stopped target Sockets.",
      "Stopped target Basic System.",
      "Stopped target Paths.",
      "Stopped target Slices.",
      "Stopped target Local File Systems.",
      "Reached target Shutdown.",
      "Stopped Network Manager.",
      "Stopped D-Bus System Message Bus.",
      "Saving user data...",
      "Closing database connections...",
      "Clearing session data...",
      "Stopping background jobs...",
      "Logging out users...",
      "Finalizing shutdown procedures...",
    ];

    setTimeout(() => displayMessages(), INITIAL_DELAY);

    function displayMessages(index = 0) {
      if (index < shutdownMessages.length) {
        for (let line of shutdownMessages[index].split("\n")) {
          logsElement.insertAdjacentHTML("beforeend", createMessageLine(line));
          logsElement.scrollTop = logsElement.scrollHeight;
        }
        setTimeout(() => displayMessages(index + 1), TYPING_DELAY);
      } else {
        setTimeout(() => {
          window.location.href = "about:blank";
        }, NAVIGATION_DELAY);
      }
    }

    function createMessageLine(message: string) {
      return `[ <span class="text-green-500">OK</span> ] ${message}\n`;
    }
  </script>
</SystemManagerLayout>
