---
import { APP_BLOG } from 'astrowind:config';

import Grid from '~/application/features/blog/components/Grid.astro';

import { getBlogPermalink } from '~/application/shared/utils/permalinks';
import { findLatestPosts } from '~/application/shared/utils/blog';
import WidgetWrapper from '~/application/shared/components/ui/WidgetWrapper.astro';
import type { Widget } from '~/types';
import Link from '~/application/shared/components/ui/Link';

export interface Props extends Widget {
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  count?: number;
}

const {
  title = await Astro.slots.render('title'),
  linkText = 'View all posts',
  linkUrl = getBlogPermalink(),
  information = await Astro.slots.render('information'),
  count = 4,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const posts = APP_BLOG.isEnabled ? await findLatestPosts({ count }) : [];
---

{
  APP_BLOG.isEnabled ? (
    <WidgetWrapper id={id} isDark={isDark} containerClass={classes?.container as string} bg={bg}>
      <div class="mb-8 flex flex-col lg:flex-row lg:justify-between">
        {title && (
          <div class="md:max-w-sm">
            <h2
              class="font-heading group mb-2 text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none"
              set:html={title}
            />
            {APP_BLOG.list.isEnabled && linkText && linkUrl && (
              <Link variant="link" href={linkUrl.toString()}>
                {' '}
                {linkText} »
              </Link>
            )}
          </div>
        )}

        {information && <p class="text-muted dark:text-slate-400 lg:max-w-md lg:text-sm" set:html={information} />}
      </div>

      <Grid posts={posts} />
    </WidgetWrapper>
  ) : (
    <Fragment />
  )
}
